*{
  margin: 0;
  padding: 0;
  text-align: center;
}

h1{
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice{
  height: 200px;
  width: 200px;
}

.choice:hover{
  opacity: 0.5;
  cursor: pointer;
}